<div data-spy="scroll" data-target="#navbar-example">
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex">
      <div class="logo mr-auto">
        <h1 class="text-light"><a routerLink="/home"><span>Maine</span> Trip Tix </a></h1>
      </div>
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="#header">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#pricing">Pricing</a></li>
          <li><a href="#rules">Rules</a></li>
          <li><a routerLink="/login">Login</a></li>
          <li><a routerLink="/signUp">Register</a></li>
        </ul>
      </nav>
    </div>
  </header><!-- End Header -->
  <!-- ======= Slider Section ======= -->
  <div id="home" class="slider-area">
    <div class="bend niceties preview-2">
      <div id="ensign-nivoslider" class="slides">
        <img src="assets/images/slider1.jpg" alt="" title="#slider-direction-1" />
        <img src="assets/images/slider2.jpg" alt="" title="#slider-direction-2" />
        <img src="assets/images/slider3.jpg" alt="" title="#slider-direction-3" />
      </div>
      <!-- direction 1 -->
      <div id="slider-direction-1" class="slider-direction slider-one">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="slider-content">
                <!-- layer 1 -->
                <div class="layer-1-1 hidden-xs wow animate__slideInDown animate__animated" data-wow-duration="2s" data-wow-delay=".2s">
                  <h2 class="title1">Stop Wasting Time!</h2>
                </div>
                <!-- layer 2 -->
                <div class="layer-1-2 wow animate__slideInUp animate__animated" data-wow-duration="2s" data-wow-delay=".2s">
                  <h1 class="title2">Use the Maine Trip Tix App for all of your state compliance needs!</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- direction 2 -->
      <div id="slider-direction-2" class="slider-direction slider-two">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="slider-content">
                <!-- layer 1 -->
                <div class="layer-1-1 hidden-xs wow animate__slideInDown animate__animated" data-wow-duration="2s" data-wow-delay=".2s">
                  <h2 class="title1">App works on multiple devices!</h2>
                </div>
                <!-- layer 2 -->
                <div class="layer-1-2 wow animate__slideInUp animate__animated" data-wow-duration="2s" data-wow-delay=".1s">
                  <h1 class="title2">Use this app on your phone to fill out trip tickets. No more paperwork!</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- direction 3 -->
      <div id="slider-direction-3" class="slider-direction slider-two">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="slider-content">
                <!-- layer 1 -->
                <div class="layer-1-1 hidden-xs wow animate__slideInDown animate__animated" data-wow-duration="2s" data-wow-delay=".2s">
                  <h2 class="title1">Time Stamp each trip with the press of a button!</h2>
                </div>
                <!-- layer 2 -->
                <div class="layer-1-2 wow animate__slideInUp animate__animated" data-wow-duration="2s" data-wow-delay=".1s">
                  <h1 class="title2">Each Trip Ticket is saved in your account as a PDF for your records or to show/email officials!</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- End Slider -->
  <main id="main">
    <div id="about" class="about-area area-padding area-tick">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline text-center">
              <h2>About Trip Tix</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- single-well start-->
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="well-middle">
              <div class="single-well">
                <ul>
                  <li>
                    <i class="fa fa-check"></i> Use this app on your phone or desktop to fill out trip tickets.
                  </li>
                  <li>
                    <i class="fa fa-check"></i> The trip ticket filled out on a desktop can be easily transferred to a phone.
                    The delivery person will have the filled out trip ticket, or trip tickets if there are more than one, with them on their delivery.
                  </li>
                  <li>
                    <i class="fa fa-check"></i> There is a time stamp button the delivery driver can press that shows their time of departure for every trip ticket they have on that particular trip.
                  </li>
                  <li>
                    <i class="fa fa-check"></i> The filled out trip ticket can easily be shown to law enforcement or any other regulatory agency if requested. It can be exported as a PDF and emailed to any law enforcement agency or other regulatory
                    agency if they so desire.
                  </li>
                  <li>
                    <i class="fa fa-check"></i> Upon reaching the delivery destination the form can be signed by the receiving customer, just like a UPS order. The delivery person can then choose the export as a PDF button to send the trip ticket
                    copy their own storage accessible only by them. They can also send the PDF as an email to the receiving customer for their records as well.
                  </li>
                  <li>
                    <i class="fa fa-check"></i> In case the delivery is to a patient and no signature is required the delivery person need only press the export as PDF button upon completion of delivery to retain the trip ticket in storage.
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- End col-->
        </div>
      </div>
    </div><!-- End About Section -->
    <!-- ======= Services Section ======= -->
    <div id="services" class="services-area area-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline services-head text-center">
              <h2>Our Services</h2>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <!-- Start Left services -->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon">
                    <i class="fa fa-ticket"></i>
                  </a>
                  <h4>Tickets</h4>
                  <p>
                    We supply a seamless experience filling and storing trip tickets. We supply an easy to use interface for filing trip tickets.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon">
                    <i class="fa fa-file-pdf-o"></i>
                  </a>
                  <h4>Store Tickets</h4>
                  <p>
                    We provide storage of each of your trip tickets that you can download as a PDF at your convenience.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <!-- End Left services -->
        </div>
      </div>
    </div><!-- End Services Section -->


    <div id="" class="contact-area form-tab">
      <div class="contact-inner area-padding">
        <div class="contact-overly"></div>
        <div class="container ">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="section-headline">
                <div class="text-center">
                  <h2 class="text-center">Trip Ticket</h2>
                </div>
                <div class="form-wrapper">
                  <div class="tab">
                    <button class="tablinks" (click)="openTab($event, 'registration')" id="defaultOpen">01. Transferring Registrant</button>
                    <button class="tablinks" (click)="openTab($event, 'receiving')">02. Receiving Patient or Registrant</button>
                    <button class="tablinks" (click)="openTab($event, 'products')">03. Description of Marijuana or Marijuana Products Transported</button>
                    <button class="tablinks" (click)="openTab($event, 'information')">04. Departure Information</button>
                    <button class="tablinks" (click)="openTab($event, 'destination')">05. Destination Information</button>
                    <button class="tablinks" (click)="openTab($event, 'signature')">06. Receiving Registration Signature and Acknowledgment of Receipt</button>
                  </div>

                  <div id="registration" class="tabcontent">
                    <h4>This section must be completed by the transferring registrant.</h4>
                    <p>1) Legal Name</p>
                    <p>2) Legal Name of Registration Certificate Holder, if applicable</p>
                    <p>3) Registry Identification Card Number</p>
                    <p>4) Registration Certificate Number, if applicable</p>
                  </div>

                  <div id="receiving" class="tabcontent">
                    <h4>This section must be completed by the transferring registrant</h4>
                    <h6>This section must be completed anytime marijuana or marijuana products for medical use are transported, including patient delivery and when a registered caregiver, registered dispensary, marijuana testing facility, or
                      manufacturing facility is transporting marijuana or marijuana products from one of its registered locations to a different registered location.</h6>
                    <h6>Patient Identification Number/Medical Certification Number (DO NOT LIST NAME)</h6>
                    <h6 class="text-center">OR</h6>
                    <p>1) Legal Name</p>
                    <p>2) Legal Name of Registration Certificate Holder, if applicable</p>
                    <p>3) Registry Identification Card Number</p>
                    <p>4) Registration Certificate Number, if applicable</p>
                  </div>

                  <div id="products" class="tabcontent">
                    <h4>This section must be completed by the transferring registrant.</h4>
                    <h6>For each item transported, provide the amount (weight or units), product type (flower, wax, cartridges, etc.), and strain or other further identifying information of the marijuana or marijuana products.</h6>

                  </div>

                  <div id="information" class="tabcontent">
                    <h4>This section must be completed by the transferring registrant.</h4>
                    <p>1) Start Date</p>
                    <p>2) Start Time</p>
                    <p>3) Departure Address (Physical)</p>
                    <p>4) City</p>
                    <p>5) State - <b>Maine</b></p>
                    <p>6) ZIP</p>
                  </div>

                  <div id="destination" class="tabcontent">
                    <h4>This section must be completed by the transferring registrant.</h4>
                    <p>1) Destination Address (Physical)</p>
                    <p>2) City</p>
                    <p>3) State - <b>Maine</b></p>
                    <p>4) ZIP</p>
                  </div>

                  <div id="signature" class="tabcontent">
                    <h4>This section must be completed by the receiving registrant.</h4>
                    <h6>This form is incomplete without a signature by the receiving registrant listed in Section 2. If the person listed in Section 2 is a patient, no signature is required.</h6>
                    <p>1) Printed Name of Receiving Registrant</p>
                    <p>2) Email Address</p>
                    <p>3) Phone Number</p>
                    <p>4) Date Received</p>
                    <p>5) Time Received</p>
                    <p>6) Signature</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ======= Skills Section ======= -->
    <div class="our-skill-area fix hidden-sm">
      <div class="test-overly"></div>
      <div class="skill-bg area-padding-2">
        <div class="container">
          <!-- section-heading end -->
          <div class="row">
            <!-- single-skill start -->
            <div class="col-xs-12 col-sm-6 col-md-4 text-center">
              <div class="single-skill">
                <div class="progress-circular">
                  <input type="text" class="knob" value="0" data-rel="100" data-linecap="round" data-width="175" data-bgcolor="#fff" data-fgcolor="#3EC1D5" data-thickness=".20" data-readonly="true" disabled>
                  <h4 class="progress-h4">Time stamping the form after it is filled out.</h4>
                </div>
              </div>
            </div>
            <!-- single-skill end -->
            <!-- single-skill start -->
            <div class="col-xs-12 col-sm-6 col-md-4 text-center">
              <div class="single-skill">
                <div class="progress-circular">
                  <input type="text" class="knob" value="0" data-rel="100" data-linecap="round" data-width="175" data-bgcolor="#fff" data-fgcolor="#3EC1D5" data-thickness=".20" data-readonly="true" disabled>
                  <h4 class="progress-h4">Receiving a signature upon delivery.</h4>
                </div>
              </div>
            </div>
            <!-- single-skill end -->
            <!-- single-skill start -->
            <div class="col-xs-12 col-sm-6 col-md-4 text-center">
              <div class="single-skill">
                <div class="progress-circular">
                  <input type="text" class="knob" value="0" data-rel="100" data-linecap="round" data-width="175" data-bgcolor="#fff" data-fgcolor="#3EC1D5" data-thickness=".20" data-readonly="true" disabled>
                  <h4 class="progress-h4">Exporting the finished form to PDF for email to customer.</h4>
                </div>
              </div>
            </div>
            <!-- single-skill end -->
          </div>
        </div>
      </div>
    </div><!-- End Skills Section -->

    <!-- ======= Pricing Section ======= -->
    <div id="pricing" class="pricing-area area-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline text-center">
              <h2>Pricing Table</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="pri_table_list">
              <h3>basic <br /> <span>$2 / week</span></h3>
              <ol>
                <li class="check">Unlimited Trip Tickets</li>
                <li class="check">PDF Storage of all Trip Tickets</li>
                <li class="check">Password Protected Access to PDFs</li>
              </ol>
              <button>sign up now</button>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="pri_table_list active">
              <span class="saleon">top sale</span>
              <h3>standard <br /> <span>$5 / month</span></h3>
              <ol>
                <li class="check">Unlimited Trip Tickets</li>
                <li class="check">PDF Storage of all Trip Tickets</li>
                <li class="check">Password Protected Access to PDFs</li>
              </ol>
              <button>sign up now</button>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="pri_table_list">
              <h3>premium <br /> <span>$50 / year</span></h3>
              <ol>
                <li class="check">Unlimited Trip Tickets</li>
                <li class="check">PDF Storage of all Trip Tickets</li>
                <li class="check">Password Protected Access to PDFs</li>
              </ol>
              <button>sign up now</button>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Pricing Section -->


    <!-- ======= Testimonials Section ======= -->
    <div class="testimonials-area">
      <div class="testi-inner area-padding">
        <div class="testi-overly"></div>
        <div class="container ">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <!-- Start testimonials Start -->
              <div class="testimonial-content text-center">
                <a class="quate" href="#"><i class="fa fa-quote-right"></i></a>
                <!-- start testimonial carousel -->
                <div class="owl-carousel testimonial-carousel">
                  <div class="single-testi">
                    <div class="testi-text">
                      <p>
                        So easy to use! Makes deliveries a breeze!
                      </p>
                      <h6>- Dee</h6>
                    </div>
                  </div>
                  <!-- End single item -->
                  <div class="single-testi">
                    <div class="testi-text">
                      <p>
                        It has eliminated clutter in the office! No more storage issues!
                      </p>
                      <h6>- Tom</h6>
                    </div>
                  </div>
                  <!-- End single item -->
                  <div class="single-testi">
                    <div class="testi-text">
                      <p>
                        It saves so much time. I don't have to constantly refill the same boxes all day!
                      </p>
                      <h6>- Brendan</h6>
                    </div>
                  </div>
                  <!-- End single item -->
                </div>
              </div>
              <!-- End testimonials end -->
            </div>
            <!-- End Right Feature -->
          </div>
        </div>
      </div>
    </div><!-- End Testimonials Section -->

    <!-- ======= Contact Section ======= -->
    <div id="rules" class="contact-area">
      <div class="contact-inner area-padding">
        <div class="contact-overly"></div>
        <div class="container ">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="section-headline">
                <div class="text-center">
                  <h2 class="text-center">Rules</h2>
                </div>
                <h5><b>Maine Trip Tix complies with Sectioin 4.2.3 G in the Rules from the Office of Marijuana Policy Reads:</b></h5>
                <p>A licensee or individual identification card holder transporting marijuana or marijuana products must carry three copies of each transport manifest during the transportation of marijuana or marijuana products and must:</p>
                <p>a) Give one copy to the receiving licensee following the verification of the transport manifest anddelivery of the marijuana or marijuana products.</p>
                <p>b) Possess one copy that is to be provided to a law enforcement officer or government agent upon request.</p>
                <p>i) A licensee or individual identification card holder who has given a transport manifest to alaw enforcement officer or government agent shall obtain the name, rank, and agency of the law enforcement officer.</p>
                <p>ii) The licensee or individual identification card holder who has given a transport manifestto a law enforcement officer or government agent must retain the name and identification number of the law enforcement officer or
                  government agent for the duration of the transport.</p>
                <p>c) Maintain a copy of the transport manifest that must be returned to the marijuana establishment for record-keeping purposes.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Contact Section -->
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer>
    <div class="footer-area">
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-sm-6 col-xs-12">
            <div class="footer-content">
              <div class="footer-head">
                <div class="footer-logo">
                  <h2><span>Maine</span> Trip Tix</h2>
                </div>
                <p>Use the Maine Trip Tix App for all of your state compliance needs! Use this app on your phone to fill out trip tickets. No more paperwork!</p>
                <div class="footer-contacts">
                  <p><span>Tel:</span> +123 456 789</p>
                  <p><span>Email:</span> contact@example.com</p>
                  <p><span>Working Hours:</span> 9am-5pm</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="footer-content">
              <div class="footer-head">
                <div class="footer-logo">
                  <h2>Social Links</h2>
                </div>
                <ul class="social-ul">
                  <li>
                    <a class="social-link" href="#"><i class="fa fa-facebook"></i>Facebook</a>
                  </li>
                  <li>
                    <a href="#" class="social-link"><i class="fa fa-twitter"></i>Twitter</a>
                  </li>
                  <li>
                    <a href="#" class="social-link"><i class="fa fa-instagram"></i>Instagram</a>
                  </li>
                  <li>
                    <a href="#" class="socual-link"><i class="fa fa-linkedin"></i>Linkedin</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="footer-content">
              <div class="footer-head">
                <div class="footer-logo">
                  <h2>Download the app today!</h2>
                </div>
                <div class="store-btns">
                  <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <a href="#" title="">
                        <img src="assets/images/google-app.png" class="app-btn" alt="Google Play Store" title="">
                      </a>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <a href="#" title="">
                        <img src="assets/images/iphone-app.png" class="app-btn" alt="Google Play Store" title="">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer><!-- End  Footer -->
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

</div>