<div class="app-main__inner">
  <div class="app-page-title">
    <div class="page-title-wrapper">
      <div class="page-title-heading">
        <div class="page-title-icon">
          <i class="pe-7s-users icon-gradient bg-tempting-azure"></i>
        </div>
        <div>Registered Users
        </div>
      </div>
    </div>
  </div>
  <div class="main-card mb-3 card">
    <div class="card-body">
      <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Location</th>
            <th>Date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Tiger Nixon</td>
            <td>System Architect</td>
            <td>Edinburgh</td>
            <td>2011/04/25</td>
            <td>
              <span>
                <input id="chkToggle1" type="checkbox" data-toggle="toggle" checked>
              </span>
            </td>
          </tr>
          <tr>
            <td>Garrett Winters</td>
            <td>Accountant</td>
            <td>Tokyo</td>
            <td>2011/07/25</td>
            <td>
              <span>
                <input id="chkToggle2" type="checkbox" data-toggle="toggle">
              </span>
            </td>
          </tr>
          <tr>
            <td>Ashton Cox</td>
            <td>Junior Technical Author</td>
            <td>San Francisco</td>
            <td>2009/01/12</td>
            <td>
              <span>
                <input id="chkToggle3" type="checkbox" data-toggle="toggle" checked>
              </span>
            </td>
          </tr>
          <tr>
            <td>Cedric Kelly</td>
            <td>Senior Javascript Developer</td>
            <td>Edinburgh</td>
            <td>2012/03/29</td>
            <td>
              <span>
                <input id="chkToggle4" type="checkbox" data-toggle="toggle" checked>
              </span>
            </td>
          </tr>
          <tr>
            <td>Airi Satou</td>
            <td>Accountant</td>
            <td>Tokyo</td>
            <td>2008/11/28</td>
            <td>
              <span>
                <input id="chkToggle5" type="checkbox" data-toggle="toggle">
              </span>
            </td>
          </tr>
          <tr>
            <td>Brielle Williamson</td>
            <td>Integration Specialist</td>
            <td>New York</td>
            <td>2012/12/02</td>
            <td>
              <span>
                <input id="chkToggle6" type="checkbox" data-toggle="toggle" checked>
              </span>
            </td>
          </tr>
          <tr>
            <td>Herrod Chandler</td>
            <td>Sales Assistant</td>
            <td>San Francisco</td>
            <td>2012/08/06</td>
            <td>
              <span>
                <input id="chkToggle7" type="checkbox" data-toggle="toggle">
              </span>
            </td>
          </tr>
          <tr>
            <td>Rhona Davidson</td>
            <td>Integration Specialist</td>
            <td>Tokyo</td>
            <td>2010/10/14</td>
            <td>
              <span>
                <input id="chkToggle8" type="checkbox" data-toggle="toggle" checked>
              </span>
            </td>
          </tr>
          <tr>
            <td>Colleen Hurst</td>
            <td>Javascript Developer</td>
            <td>San Francisco</td>
            <td>2009/09/15</td>
            <td>
              <span>
                <input id="chkToggle9" type="checkbox" data-toggle="toggle">
              </span>
            </td>
          </tr>
          <tr>
            <td>Sonya Frost</td>
            <td>Software Engineer</td>
            <td>Edinburgh</td>
            <td>2008/12/13</td>
            <td>
              <span>
                <input id="chkToggle10" type="checkbox" data-toggle="toggle" checked>
              </span>
            </td>
          </tr>
          <tr>
            <td>Jena Gaines</td>
            <td>Office Manager</td>
            <td>London</td>
            <td>2008/12/19</td>
            <td>
              <span>
                <input id="chkToggle11" type="checkbox" data-toggle="toggle" checked>
              </span>
            </td>
          </tr>
          <tr>
            <td>Quinn Flynn</td>
            <td>Support Lead</td>
            <td>Edinburgh</td>
            <td>2013/03/03</td>
            <td>
              <span>
                <input id="chkToggle12" type="checkbox" data-toggle="toggle">
              </span>
            </td>
          </tr>
          <tr>
            <td>Charde Marshall</td>
            <td>Regional Director</td>
            <td>San Francisco</td>
            <td>2008/10/16</td>
            <td>
              <span>
                <input id="chkToggle13" type="checkbox" data-toggle="toggle" checked>
              </span>
            </td>
          </tr>
          <tr>
            <td>Donna Snider</td>
            <td>Customer Support</td>
            <td>New York</td>
            <td>2011/01/25</td>
            <td>
              <span>
                <input id="chkToggle14" type="checkbox" data-toggle="toggle">
              </span>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Location</th>
            <th>Date</th>
            <th>Actions</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>