<div class="app-header header-shadow">
  <div class="app-header__logo">
    <!-- <div class="logo-src"></div> -->
    <img src="assets/images/logo.png" class="img-fluid logo-main-header" alt="Logo">
    <span class="ml-3"><b>Maine Trip Tix</b></span>
    <div class="header__pane ml-auto">
      <div>
        <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>
    </div>
  </div>
  <div class="app-header__mobile-menu">
    <div>
      <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </div>
  <div class="app-header__menu">
    <span>
      <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
        <span class="btn-icon-wrapper">
          <i class="fa fa-ellipsis-v fa-w-6"></i>
        </span>
      </button>
    </span>
  </div>
  <div class="app-header__content">
    <div class="app-header-left">
      <div class="search-wrapper">
        <div class="input-holder">
          <input type="text" class="search-input" placeholder="Type to search">
          <button class="search-icon"><span></span></button>
        </div>
        <button class="close"></button>
      </div>
    </div>
    <div class="app-header-right">
      <div class="header-btn-lg pr-0">
        <div class="widget-content p-0">
          <div class="widget-content-wrapper">
            <div class="widget-content-left  mr-3 header-user-info">
              <div class="widget-heading"> John Deo </div>
            </div>
            <div class="widget-content-left ml-2">
              <div class="btn-group">
                <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                  <img width="42" class="rounded-circle" src="assets/images/4.jpg" alt="">
                  <i class="fa fa-angle-down ml-2 opacity-8"></i>
                </a>
                <div tabindex="-1" role="menu" aria-hidden="true" class="rm-pointers dropdown-menu-lg dropdown-menu dropdown-menu-right">
                  <div class="grid-menu grid-menu-2col">
                    <div class="no-gutters row">
                      <div class="col-sm-6">
                        <button class="btn-icon-vertical btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-warning">
                          <i class="pe-7s-user icon-gradient bg-amy-crisp btn-icon-wrapper mb-2"></i> Manage Profile
                        </button>
                      </div>
                      <div class="col-sm-6">
                        <button class="btn-icon-vertical btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-danger">
                          <i class="pe-7s-lock icon-gradient bg-love-kiss btn-icon-wrapper mb-2"></i>
                          <b>Change Password</b>
                        </button>
                      </div>
                    </div>
                  </div>
                  <ul class="nav flex-column">
                    <li class="nav-item-divider nav-item">
                    </li>
                    <li class="nav-item-btn text-center nav-item">
                      <a href="/login" class="btn-wide btn btn-primary btn-sm"> Logout</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>