<div class="app-main__inner">
  <div class="app-page-title">
    <div class="page-title-wrapper">
      <div class="page-title-heading">
        <div class="page-title-icon">
          <i class="pe-7s-user icon-gradient bg-tempting-azure"></i>
        </div>
        <div>My Profile
        </div>
      </div>
    </div>
  </div>
  <div class="main-card mb-3 card">
    <div class="card-body">
      <form class="">
        <div class="form-row">
          <div class="col-md-6">
            <div class="position-relative form-group">
              <label for="exampleFirstname" class=""><span class="text-danger">*</span> First Name</label>
              <input name="firstName" id="exampleFirstname" type="text" class="form-control">
            </div>
          </div>
          <div class="col-md-6">
            <div class="position-relative form-group">
              <label for="exampleLastName" class=""><span class="text-danger">*</span> Last Name</label>
              <input name="lastName" id="exampleLastName" type="text" class="form-control">
            </div>
          </div>
          <div class="col-md-6">
            <div class="position-relative form-group">
              <label for="exampleEmail" class=""><span class="text-danger">*</span> Email</label>
              <input name="email" id="exampleEmail" type="email" class="form-control">
            </div>
          </div>
          <div class="col-md-6">
            <div class="position-relative form-group">
              <label for="examplePassword" class=""><span class="text-danger">*</span> Password</label>
              <input name="password" id="examplePassword" type="password" class="form-control">
            </div>
          </div>
          <div class="col-md-6">
            <div class="position-relative form-group">
              <label for="examplePhone" class=""><span class="text-danger">*</span> Phone Number</label>
              <input name="password" id="examplePhone" type="number" class="form-control">
            </div>
          </div>
          <div class="col-md-6">
            <div class="position-relative form-group">
              <label for="exampleAddress" class=""><span class="text-danger">*</span> Address</label>
              <input name="text" id="exampleAddress" type="text" class="form-control">
            </div>
          </div>
          <div class="col-md-6">
            <div class="position-relative form-group">
              <label for="exampleCity" class=""><span class="text-danger">*</span> City</label>
              <input name="text" id="exampleCity" type="text" class="form-control">
            </div>
          </div>
          <div class="col-md-6">
            <div class="position-relative form-group">
              <label for="exampleState" class=""><span class="text-danger">*</span> State</label>
              <input name="text" id="exampleState" type="text" class="form-control">
            </div>
          </div>
          <div class="col-md-6">
            <div class="position-relative form-group">
              <label for="examplePin" class=""><span class="text-danger">*</span> Pin Code</label>
              <input name="text" id="examplePin" type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="mt-4 d-flex align-items-center">
          <div class="mr-auto">
            <a class="btn-wide btn-pill btn-shadow btn-hover-shine btn btn-primary btn-lg">Save</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>