<div class="app-main__inner">
  <div class="app-page-title">
    <div class="page-title-wrapper">
      <div class="page-title-heading">
        <div class="page-title-icon">
          <i class="pe-7s-lock icon-gradient bg-tempting-azure"></i>
        </div>
        <div>Change Password
        </div>
      </div>
    </div>
  </div>
  <div class="main-card mb-3 card">
    <div class="card-body">
      <form class="">
        <div class="form-row">
          <div class="col-md-6">
            <div class="position-relative form-group">
              <label for="exampleFirstname" class=""><span class="text-danger">*</span> Old Password</label>
              <input name="firstName" id="exampleFirstname" type="password" class="form-control">
            </div>
          </div>
          <div class="col-md-6">
            <div class="position-relative form-group">
              <label for="exampleLastName" class=""><span class="text-danger">*</span> New Password</label>
              <input name="lastName" id="exampleLastName" type="password" class="form-control">
            </div>
          </div>
          <div class="col-md-6">
            <div class="position-relative form-group">
              <label for="exampleLastName" class=""><span class="text-danger">*</span> Confirm Password</label>
              <input name="lastName" id="exampleLastName" type="password" class="form-control">
            </div>
          </div>
        </div>
        <div class="mt-4 d-flex align-items-center">
          <div class="mr-auto">
            <a class="btn-wide btn-pill btn-shadow btn-hover-shine btn btn-primary btn-lg">Submit</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>